.tok0{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok1{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok2{color:blue;}
.tok3{color:green;}
.tok4{color:blue;}
.tok5{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok6{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok7{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok8{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok9{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok10{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok11{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok12{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok13{color:yellow;}
.tok14{color:blue;}
.tok15{color:green;}
.tok16{color:blue;}
.tok17{color:blue;}
.tok18{color:green;}
.tok19{color:blue;}
.tok20{color:green;}
.tok21{color:orange;}
.tok22{color:green;}
.tok23{color:blue;}
.tok24{color:green;}
.tok25{color:blue;}
.tok26{color:orange;}
.tok27{color:green;}
.tok28{color:blue;}
.tok29{color:blue;}
.tok30{color:green;}
.tok31{color:blue;}
.tok32{color:green;}
.tok33{color:blue;}
.tok34{color:yellow;}
.tok35{color:blue;}
.tok36{color:green;}
.tok37{color:blue;}
.tok38{color:green;}
.tok39{color:blue;}
.tok40{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok41{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok42{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok43{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok44{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok45{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok46{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok47{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok48{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok49{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok50{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok51{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok52{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok53{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok54{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok55{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok56{color:blue;}
.tok57{color:green;}
.tok58{color:blue;}
.tok59{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok60{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok61{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
.tok62{color:blue;}
.tok63{color:green;}
.tok64{color:blue;}
.tok65{color:blue;}
.tok66{color:green;}
.tok67{color:green;}
.tok68{color:blue;}
.tok69{color:yellow;}
.tok70{color:blue;}
.tok71{color:green;}
.tok72{color:blue;}
.tok73{  text-decoration-line: underline; text-decoration-color: red; text-decoration-style: wavy;}
